<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Coin Calculator</title>
  </head>
  <body>
    <form action="/output" method="post">
      <label for="user-number">Enter change amount</label>
      <input type="number" name="user-number">

      <button type="submit" name="button">Check your Coins</button>

    </form>

  </body>
</html>
